<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <link rel="stylesheet" href="/global.css" />
    <title>Home page</title>
</head>

<body>
  <header>
    <div class="container"><%- include("./partials/navbar") %></div>
    <div class="headings container">
      <div class="question-summary">
        <h2 class="question-summary-heading">All Questions</h2>
        <span>
          <%= data.length %> questions
        </span>
      </div>
      <div class="cta">
        <a href="/askQuestion">
          <h2>Ask Questions</h2>
        </a>
      </div>
    </div>
  </header>

  <main>
    <section class="container">
      <p style="color: green"><%- success %></p>
      <div class="questions-list">
        <% data.forEach((item)=> { %>
          <div class="question-item" onclick="window.location.href=`/question/<%- item.id %>`">
            <div class="question-title"><%- item.title %></div>
            <div class="question-author">
              Asked by: <i><%- item.user.username %></i>
            </div>
          </div>
          <% }) %>
      </div>
    </section>
  </main>
</body>

</html>